@tailwind base;
@tailwind components;
@tailwind utilities;
body {
margin:0;
/* font-family:'Poppins',sans-serif; */
font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
